@import "../../styles/variables.scss";

.Products {
	padding-bottom: 100px;

	&--hide {
		display: none;
	}

	&--loading {
		background-image: inline-svg('<svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="red"><g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)" stroke-width="2"><circle stroke-opacity=".5" cx="18" cy="18" r="18"/><path d="M36 18c0-9.94-8.06-18-18-18"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/> </path> </g> </g></svg>');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height:calc(100vh - 110px);
		background-size: 76px;
	}

	&__item {

		&__top {
			
			margin-top: 17px;
			display: flex;
			align-items: center;

			padding-left: 9px;

			
		}

		&__title {
			font-size: 24px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.33;
			letter-spacing: -0.7px;
			color: #000000;
			text-overflow:ellipsis;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
		}

		&--removed &__title {
			opacity: 0.32;
		}

		&__toggle {
			cursor: pointer;
			border-radius: 8px;
			width: 24px;
			height: 24px;
			flex:0 0 24px;
			background-color: $c_light_grey;
			margin-right: 9px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-image: inline-svg('<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M1.841 1.341l8.8 8.8" stroke-opacity=".322" stroke="#000"/><path d="M10.484 1.499L1.999 9.984" stroke="#9F9F9F"/></g></svg>');
		}

		&--removed &__toggle {
			background-color: $c_pink;
			background-image: inline-svg('<svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" stroke="#E3000F" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M7.692 1.332v12.445M13.692 7.554h-12"/></g></svg>');
		}

		&__slider {
			overflow-x: auto;
			margin-right: -15px;
			margin-left: -15px;
			padding:20px 24px;
		}

		&--removed &__slider {
			overflow-x:hidden;
			opacity: 0.32;
		}

		&__row {
			display: flex;
			flex-wrap: nowrap;
		}

		&__slide {
			flex: 0 0 120px;
			margin-right: 16px;
			box-shadow: 0 0 32px 0 $c_light_grey;
			background-color: #ffffff;
			border-radius:24px;
			padding:16px;
			border:1px solid #fff;
			cursor: pointer;

			&--selected {
				border-color:$c_red;
				box-shadow: none;
			}

			&__image {
				height:80px;
				text-align:center;
				margin-left: 4px;
				margin-right: 4px;

				img {
					max-width: 100%;
					max-height: 100%;

				}
			}

			&__title {
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.2;
				letter-spacing: -0.4px;
				color: #000000;
				padding-top: 3px;
				overflow:hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding-top: 6px;
				max-width: 88px;
			}

			&__price {
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: -0.4px;
				color: $c_red;
				overflow:hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding-top: 2px;

			}
		}

		&--removed &__slide {
			pointer-events: none;
		}
	}

	&--loading &__item {
		display: none;
	}
}