@import "../../styles/variables.scss";

.Menu {
	position: fixed;
	z-index: 4;
	width:100%;
	bottom:-1000px;
	transition: .3s;

	&--show {
		bottom:5px;
	}

	&__close {
		border-radius: 16px;
		box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
		background-color: #ffffff;
	}

	&__items, &__close {
		border-radius: 16px;
		box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
		background-color: #ffffff;
		overflow: hidden;
		width:100%;

	}

	&__item, &__close {
		display: block;
		color: $c_red;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: -0.7px;
		padding:12px;
		text-align:center;
		cursor: pointer;
		text-decoration:none;

		&:hover, &:active {
			color: $c_red;
			text-decoration:none;
		}

		& + & {
			border-top:1px solid rgba(0,0,0, 0.16);
		}

	}

	&__item--clear {
		display: none;
	}

	&--clear &__item--clear {
		display: block;
	}

	&__close {
		margin-top: 8px;
	}
}