@import "../../styles/variables.scss";

.List {
	padding-top: 5px;
	padding-bottom: 100px;

	&--hide {
		display: none;
	}

	&__new {
		border-radius: 16px;
		background-color: #ffffff;
		height:0;
		overflow: hidden;
		margin-right: -7px;
		margin-left: -5px;
		position: relative;
		z-index: 2;
		opacity: 0;
		padding: 0px 16px;
		margin-bottom: -11px;


		&--show {
			height: auto;
			box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
			padding: 13px 16px 14px;
			opacity: 1;
			margin-top: -8px;
			margin-bottom: -13px;

		}

		&__suggest {
			display: none;
			padding-top: 19px;
			padding-bottom: 2px;

			&--show {
				display: block;
			}


			&__item {
				display: inline-block;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: -0.4px;
				color: $c_red;
				border-radius: 8px;
				background-color: $c_pink;
				padding: 3px 9px 5px 7px;
				margin-right: 8px;
				margin-bottom: 6px;
			}
		}

		&__input {
			display: flex;
			align-items: center;

			&__check {
				flex: 0 0 24px;
				width: 24px;
				height: 24px;
				border-radius: 8px;
				background-color: rgba(0, 0, 0, 0.08);
				margin-right: 8px;


			}
			

			&__field {
				border:none !important;
				font-size: 24px !important;
				line-height: 1.33 !important;
				letter-spacing: -0.7px !important;
				height:auto !important;
				padding:0 !important;
				color:#000 !important;

				&, &:focus {
					box-shadow: none !important;
					outline: none !important;
				}

				&::-webkit-input-placeholder {
					color: rgba(0, 0, 0, 0.32);
					opacity: 1;
				}

				&:-ms-input-placeholder {
					color: rgba(0, 0, 0, 0.32);
					opacity: 1;
				}

				&::-ms-input-placeholder {
					color: rgba(0, 0, 0, 0.32);
					opacity: 1;
				}

				&::placeholder {
					color: rgba(0, 0, 0, 0.32);
					opacity: 1;
				}
			}
		}


		
	}

	&__items {
		margin-top: -3px;
	}


	&__item {
		margin-top: 16px;
		display: flex;
		padding-left: 10px;
		padding-right: 3px;
		align-items: center;


		&--edit {
			position: relative;
			z-index:3;
			background-color: #fff;
			box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
			padding: 13px 16px 14px 15px;
			margin-right: -7px;
			margin-left: -5px;
			border-radius: 16px;
			margin-top: 3px;
			margin-bottom: -14px;
		}

		&__check {
			flex: 0 0 24px;
			width: 24px;
			height: 24px;
			border-radius: 8px;
			background-color: rgba(0, 0, 0, 0.08);

		}

		&--checked &__check {
			background-color: $c_pink;
			background-image: inline-svg('<svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L4.75 9.25 1 5.5" stroke="#E3000F" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			background-repeat:no-repeat;
			background-position: 50% 50%;
		}

		&__text {
			flex: calc(100% - 24px);
			
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border:none !important;
			font-size: 24px !important;
			line-height: 1.33 !important;
			letter-spacing: -0.7px !important;
			height:auto !important;
			padding:0 0 0 8px !important;
			color:#000 !important;

			&, &:focus {
				box-shadow: none !important;
				outline: none !important;
			}

			&::-webkit-input-placeholder {
				color: rgba(0, 0, 0, 0.32);
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: rgba(0, 0, 0, 0.32);
				opacity: 1;
			}

			&::-ms-input-placeholder {
				color: rgba(0, 0, 0, 0.32);
				opacity: 1;
			}

			&::placeholder {
				color: rgba(0, 0, 0, 0.32);
				opacity: 1;
			}
		}

		&--checked &__text {
			color: rgba(0, 0, 0, 0.32) !important;
			pointer-events: none;
		}


	}
	
}