@import "../../styles/variables.scss";

.Delivery {
	position: fixed;
	display: none;
	bottom:0;
	width:100%;
	box-shadow: 0 -8px 32px 0 $c_light_grey;
	background-color: #ffffff;
	padding:24px 9px;
	z-index:10;

	&--show {
		display: block;
	}

	&__title {
		font-size: 40px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: -1px;
		color: #000000;
		text-transform:uppercase;
		padding-bottom: 16px;
	}

	&--success &__title {
		padding-bottom: 8px;
	}

	&__input {
		height: 72px;
		box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08) !important;
		background-color: #ffffff !important;
		border:none !important;
		outline: none !important;
		padding:16px 24px !important;
		font-size: 24px !important;
		font-weight: normal !important;
		font-style: normal !important;
		font-stretch: normal !important;
		line-height: 1.33 !important;
		letter-spacing: -0.7px !important;
		color: #000000 !important;
		border-radius: 24px !important;

		&::-webkit-input-placeholder {
			color: rgba(0, 0, 0, 0.32);
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: rgba(0, 0, 0, 0.32);
			opacity: 1;
		}

		&::-ms-input-placeholder {
			color: rgba(0, 0, 0, 0.32);
			opacity: 1;
		}

		&::placeholder {
			color: rgba(0, 0, 0, 0.32);
			opacity: 1;
		}

		&:focus {
			box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
		}
	}

	&__descr {
		padding-top: 8px;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.13;
		letter-spacing: -0.4px;
		color: #000000;
		padding-bottom: 32px;
	}

	&__thanks {
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: -0.7px;
		color: #000000;
		padding-bottom: 60px;
	}


	&__button, &__close {
		height: 72px !important;
		background-color: $c_red !important;
		border-radius: 24px !important;
		padding:16px !important;
		cursor: pointer !important;
		font-size: 24px !important;
		font-weight: normal !important;
		font-style: normal !important;
		font-stretch: normal !important;
		line-height: 1.33 !important;
		letter-spacing: -0.7px !important;
		text-align: center !important;
		color: #ffffff !important;
		width:100% !important;
		display: block !important;
		box-shadow: none !important;
		border:none !important;

		&--loading {
			color: transparent !important;
			background-image: inline-svg('<svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff"><g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)" stroke-width="2"><circle stroke-opacity=".5" cx="18" cy="18" r="18"/><path d="M36 18c0-9.94-8.06-18-18-18"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/> </path> </g> </g></svg>');
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

	}

	&__success {
		display: none;
	}

	&--success &__body {
		display: none;
	}

	&--success &__success {
		display: block;
	}


}