@import "./variables.scss";

body {
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.App {
	position: relative;
	min-height:100vh;

	&--add, &--menu, &--edit, &--delivery {
		&:before {
			content:'';
			position: absolute;
			height:100%;
			width:100%;
			left:0;
			bottom:0;
			background-color: $c_light_grey;
			z-index: 2;
		}

	}
}

.container {
	max-width: 591px !important;
}