@import "../../styles/variables.scss";

.Header {
	padding-top: 14px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__right {
		flex: 0 0 26px;
	}

	&__left {
		flex: 0 0 calc(100% - 26px);
		
	}

	&__heading {
		font-size: 40px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: -1px;
		color: #000000;
		text-transform:uppercase;
		padding: 18px 0 0 10px;

	}

	&__button {
		width:26px;
		height: 6px;
		margin-left: auto;
		background-image: inline-svg('<svg width="26" height="6" xmlns="http://www.w3.org/2000/svg"><g fill="#e3000f" fill-rule="nonzero"><circle cx="3" cy="3" r="3"/><circle cx="13" cy="3" r="3"/><circle cx="23" cy="3" r="3"/></g></svg>');
		background-repeat: no-repeat;
		cursor: pointer;

	}

	&__back {
		opacity: 0;
		pointer-events: none;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: -0.4px;
		color: $c_red;
		padding-left: 17px;
		padding-top: 1px;
		background-repeat: no-repeat;
		height:22px;
		cursor: pointer;
		background-image: inline-svg('<svg width="13" height="22" xmlns="http://www.w3.org/2000/svg"><path d="M11 20l-9-9 9-9" stroke="#E3000F" stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>');

		&--show {
			opacity: 1;
			pointer-events: auto;
		}
	}


	
}