@import "../../styles/variables.scss";

.Footer {
	padding: 24px 9px 24px;
	position: fixed;
	bottom:0;
	width:100%;

	&--hide {
		display: none;
	}

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__left {
		flex: 0 0 calc(100% - 72px);
		padding-right: 16px;

		&--hide {
			display: none;
		}
	}

	&__help {
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: -0.7px;
		color: rgba(0, 0, 0, 0.32);
		display: none;


		&--show {
			display: block;
		}
	}

	&__add {
		width: 72px;
		flex: 0 0 72px;
		height: 72px;
		border-radius: 24px;
		box-shadow: 0 8px 32px 0 rgba($c_red, 0.16);
		background-color: $c_red;
		background-image: inline-svg('<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M22.286 10.286h-8.572V1.714a1.715 1.715 0 0 0-3.428 0v8.572H1.714a1.715 1.715 0 0 0 0 3.428h8.572v8.572a1.715 1.715 0 0 0 3.428 0v-8.572h8.572a1.715 1.715 0 0 0 0-3.428z" fill="#FFF" fill-rule="nonzero"/></svg>');
		background-repeat: no-repeat;
		background-position: 50% 50%;


		&--hide {
			display: none;
		}

		
	}


	&__products {
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: -0.7px;
		color: $c_red;
		background-color: $c_pink;
		border-radius: 24px;
		display: none;
		height: 72px;
		padding: 16px;
		text-align:center;

		&--show {
			display: block;
		}
	}


	&__order {
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: -0.7px;
		color: #fff;
		background-color: $c_red;
		box-shadow: 0 8px 32px 0 rgba($c_red, 0.16);
		border-radius: 24px;
		height: 72px;
		padding: 16px;
		text-align:center;
		flex:1;
		cursor: pointer;

		&--hide {
			display: none;
		}
	}




}